<button type="button" [routerLink]="'/file'">file</button>

<button type="button" [routerLink]="'/form'">form</button>
<!-- <firedev-file src="src/assets/scripts/jquery.facedetection/jquery-3.2.1.min.js">
  <p>
    preview-file works!
  </p>

</firedev-file> -->
<!-- <firedev-file src="src/assets/scripts/jquery.facedetection/jquery.facedetection.min.js"></firedev-file>
<img #imageToFaceDetect
     src="src/assets/hank.jpeg"
     height="300"
     width="500">

<hr> -->

<div class="card">
  FILES IMAGES
  <!-- <img src="src/assets/cutsmall.jpg"
       height="100">
  <hr>
  <img src="src/assets/smiley.png"
       height="100">
  <hr>
  <img src="http://localhost:4199/BaseCRUD/BASE_CONTROLLER/FiredevFileController/getImage_text"
       height="200">
  <hr> -->

  <firedev-file src="/src/assets/cutsmall.jpg"></firedev-file>
  <!-- <firedev-file src="/src/assets/arnold.png"></firedev-file>
  <firedev-file src="/src/assets/faces.png"></firedev-file>
  <firedev-file src="/src/assets/cutsmall.jpg"></firedev-file>
  <firedev-file src="/src/assets/arnold.png"></firedev-file>
  <firedev-file src="/src/assets/faces.png"></firedev-file>
  <firedev-file src="/src/assets/example-content.html"></firedev-file>
  <firedev-file src="/src/assets/i18n/en.json"></firedev-file>
  <firedev-file src="/src/assets/i18n/pl.json"></firedev-file>
  <firedev-file src="/src/assets/example-video-mp4.mp4"></firedev-file>
  <firedev-file src="/src/assets/example-music.mp3"></firedev-file> -->

  <!-- <hr>
  FILES HTML
  <firedev-file src="/src/assets/example-content.html"></firedev-file>
  <hr>
  FILES JSON
  <firedev-file src="/src/assets/i18n/en.json"></firedev-file>
  <firedev-file src="/src/assets/i18n/pl.json"></firedev-file>
  <hr>
  FILES VIDEO
  <firedev-file src="/src/assets/example-video-mp4.mp4"></firedev-file>
  <hr>
  FILES AUDIO
  <firedev-file src="/src/assets/example-music.mp3"></firedev-file> -->

  <!-- <hr>
  loadedImage:
  <img [src]="loadedImage"
       height="100px" />

  <hr>

  <img [src]="loadedHammny"
       height="50px" />
  <hr>
  <img [src]="fromcache"
       height="50px" />

  <hr> -->

  <hr />
  <!-- <mat-card>
    <input style="display: none;"
           id="input-file-id-{{generalHash}}"
           multiple
           (change)="upload($event)"
           type="file" />
    <label for="input-file-id-{{generalHash}}"
           class="mat-raised-button mat-button-base mat-primary">Upload</label>

    <span *ngIf="images.length === 0"> - no images read to upload - </span>
    <img [src]="image"
         alt="your image"
         width="100px"
         *ngFor="let image of images" />

    <button mat-stroked-button
            (click)="sendFile()"
            color="accent">Send file</button>

  </mat-card> -->

  <!-- <firedev-file src="src/assets/source-code/file.ts"></firedev-file> -->

  <!-- <firedev-file src="src/assets/styles/highlightjs/default.min.css"></firedev-file> -->

  <!-- <pre><code #editor [highlight]="code" contenteditable (input)="input($event)" ></code></pre> -->

  <!-- <hr> -->
  <!-- ace -->
  <!-- <ace [mode]="'typescript'" [(value)]="code" [theme]="'twilight'" style="width: 800px; height: 300px;" ></ace> -->
  <!-- <hr> -->
</div>
