<firedev-file src="src/assets/scripts/jquery.facedetection/jquery-3.2.1.min.js">
<p>
  preview-file works!
</p>

@LAST loading css script

</firedev-file>
<firedev-file src="src/assets/scripts/jquery.facedetection/jquery.facedetection.min.js"></firedev-file>
<img #imageToFaceDetect
     src="src/assets/hank.jpeg"
     height="300"
     width="500">

<hr>

<div class="card">

  <!-- <img src="src/assets/cutsmall.jpg"
       height="100">
  <hr>
  <img src="src/assets/smiley.png"
       height="100">
  <hr>
  <img src="http://localhost:4199/BaseCRUD/BASE_CONTROLLER/FiredevFileController/getImage_text"
       height="200">
  <hr> -->
  <firedev-file src="src/assets/cutsmall.jpg"></firedev-file>
  <!-- <firedev-file src="src/assets/cutsmall.jpg" ></firedev-file> -->
  <!-- <hr>
  loadedImage:
  <img [src]="loadedImage"
       height="100px" />

  <hr>

  <img [src]="loadedHammny"
       height="50px" />
  <hr>
  <img [src]="fromcache"
       height="50px" />

  <hr> -->

  <hr>
  <!-- <mat-card>
    <input style="display: none;"
           id="input-file-id-{{generalHash}}"
           multiple
           (change)="upload($event)"
           type="file" />
    <label for="input-file-id-{{generalHash}}"
           class="mat-raised-button mat-button-base mat-primary">Upload</label>

    <span *ngIf="images.length === 0"> - no images read to upload - </span>
    <img [src]="image"
         alt="your image"
         width="100px"
         *ngFor="let image of images" />

    <button mat-stroked-button
            (click)="sendFile()"
            color="accent">Send file</button>

  </mat-card> -->
